<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
                {% if user.is_authenticated %}
                <li>
                          Welcome, <a href="#" class="dropdown-toggle" data-toggle="dropdown" 
                          aria-haspopup="true" aria-expanded="false">{{ user.username }} 
                          <i class="fas fa-user-circle"></i></a>
                </li>
                <li>
                  <a href="{% url 'signout' %}">Sign Out <i class="fas fa-sign-out-alt"></i></a>
                </li>
                {% else %}
                <li>
                  <a href="{% url 'signup' %}">Sign Up <i class="fas fa-user-plus"></i></a>
                </li>
                <li>
                  <a href="{% url 'signin' %}">Sign In <i class="fas fa-sign-in-alt"></i></a>
                </li>
                {% endif %}
              </ul>
          
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

