{% extends 'base.html' %}
{% block title %}Articles{% endblock title %}
{% block content %}
  {% for post in post_list %}
  <div  class="col d-flex justify-content-center">
  <div class="card w-50 p-3 ">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{post.username}}</h5>
      <p class="card-text">{{post.text}} {{post.latitude}}</p>
      <div class="card-footer">
        <form action="{% url 'pages:like_post' post.pk %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">Like {{post.likes}}</button>
        </form>
        <a href="{% url 'pages:like_post' uuid=post.pk %}">View comments ...</a>
      </div>
    </div>
  </div>
</div>

  {% endfor %}
{% endblock %}

<script>
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;
        // Make an AJAX request to the Django view with the obtained latitude and longitude
        $.ajax({
            url: '/my_view/',
            data: {
                'lat': latitude,
                'long': longitude
            },
            success: function(data) {
                // Handle the response from the Django view
            }
        });
    });
} else {
    // Geolocation is not supported by the browser
}
  // add click event listener to all like buttons
  var likeButtons = document.querySelectorAll('.like-btn');
  likeButtons.forEach(function(likeButton) {
    likeButton.addEventListener('click', function() {
      var postId = this.getAttribute('data-post-id');
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/post/' + postId + '/like/');
      xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
      xhr.onload = function() {
        if (xhr.status === 200) {
          var response = JSON.parse(xhr.responseText);
          var postCard = document.querySelector('#post-' + postId);
          var likeCount = postCard.querySelector('.like-count');
          likeCount.innerHTML = response.like_count;
        }
      };
      xhr.send();
    });
  });
</script>