{% extends 'base.html' %}
{% block title %}Articles{% endblock title %}
{% block content %}
  {% for pages in post_details %}
  <div  class="col d-flex justify-content-center">
  <div class="card w-50 p-3 ">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{pages.username}}</h5>
      <p class="card-text">{{pages.text}}</p>
      <div class="card-footer">
        <a href="{% url 'pages:post_detail' pages.pk %}">View comments ...</a>
      </div>
    </div>
  </div>
</div>

  {% endfor %}
{% endblock %}
