{% extends 'base.html' %}
{% block content %}
  <div class="post-entry">
    <div class="justify-content-center mx-auto" style="width:800px">
      <div class="card">
        <div class="card-header">
        <div class ="row">
          <div class="col" >
          <p>by {{ post.username}} | {{ post.date }}</p>
          </div>
          <div class="col-md-2 offset-md-4">
          <p><a href="{% url 'post_edit' post.pk %}">Edit</a>
            {% if user.username %} |
            <a href="{% url 'post_delete' post.pk %}">Delete</a>
            {% endif %}
          </p>
          </div>
          </div>
        </div>
        <div class="card-body">
        {% if post.image %}
        <img class = "post py-1" src="{{post.image.url}}" alt="{{ post.text }}">
        {% endif %}
        <p>{{ post.text }}</p>
        </div>
    {% endblock content %}
