{% extends 'base.html' %}
{% block title %}Articles{% endblock title %}
{% block content %}
  {% for post in post_list %}
  <div  class="col d-flex justify-content-center">
  <div class="card w-50 p-3 ">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{post.username}}</h5>
      <p class="card-text">{{post.text}} {{post.latitude}}</p>
      <div class="card-footer">
        <form action="{% url 'pages:like_post' post.pk %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">Like {{post.likes}}</button>
        </form>
        <a href="{% url 'pages:like_post' uuid=post.pk %}">View comments ...</a>
      </div>
    </div>
  </div>
</div>

  {% endfor %}
{% endblock %}

<script>
  function successCallback(position) {
    let lat = position.coords.latitude;
    let long = position.coords.longitude;

    // Send an AJAX request to the server to update the post list
    let xhr = new XMLHttpRequest();
    xhr.open("GET", `/my_view/?lat=${lat}&long=${long}`);
    xhr.onreadystatechange = () => {
      if (xhr.readyState === XMLHttpRequest.DONE) {
        if (xhr.status === 200) {
          // Update the post list with the new data
          let postList = document.getElementById("post-list");
          postList.innerHTML = xhr.responseText;
        } else {
          console.error(xhr.statusText);
        }
      }
    };
    xhr.send();
  }
  
  function errorCallback(error) {
    console.error(error.message);
  }
  
  document.addEventListener("DOMContentLoaded", () => {
    navigator.geolocation.getCurrentPosition(successCallback, errorCallback);
  });
</script>