{% extends 'base.html' %}
{% block title %}Articles{% endblock title %}
{% block content %}
<input type="hidden" name="latitude" id="id_latitude">
<input type="hidden" name="longitude" id="id_longitude">
  {% for post in post_list %}
  <div  class="col d-flex justify-content-center">
  <div class="card w-50 p-3 ">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><a href="{% url 'profiles:profile_view' username=post.username %}>{{post.username}}</h5>
      <p class="card-text">{{post.text}} {{post.latitude}}</p>
      <div class="card-footer">
        <form action="{% url 'pages:like_post' post.pk %}" method="post">
          {% csrf_token %}

          <button type="submit" class="btn btn-primary">Like {{post.likes}}</button>
        </form>
        <a href="{% url 'pages:like_post' uuid=post.pk %}">View comments ...</a>
      </div>
    </div>
  </div>
</div>

  {% endfor %}
{% endblock %}

<script>
  function sendLocationOnLoad() {
    console.log("test")
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;
  
        // create a hidden form and submit it with the latitude and longitude
        var form = document.createElement('form');
        form.method = 'POST';
        form.action = '{% url "pages:my_view" %}';
        form.style.display = 'none';
  
        var latInput = document.createElement('input');
        latInput.type = 'hidden';
        latInput.name = 'latitude';
        latInput.value = latitude;
  
        var longInput = document.createElement('input');
        longInput.type = 'hidden';
        longInput.name = 'longitude';
        longInput.value = longitude;
  
        form.appendChild(latInput);
        form.appendChild(longInput);
        document.body.appendChild(form);
        console.log(form)
        console.error(longitude)
        form.submit();
      });
    } else {
      console.log('Geolocation is not supported by this browser.');
    }
  }
</script>
