{% extends 'base.html' %}
{% block content %}

  <div class="article-entry">
    <div class="justify-content-center mx-auto" style="width:800px">
      <div class="card">
        <div class="card-header">
        <div class ="row">
          <div class="col" >
          <p>by {{ user.username }} | {{ userpost.postTime }}</p>
          </div>
          <div class="col-md-2 offset-md-4">
          <p><a href="{% url 'pages:post_edit' userpost.pk %}">Edit</a>
            {% if user.username %} |
            <a href="{% url 'pages:post_delete' userpost.pk %}">Delete</a>
            {% endif %}
          </p>
          </div>
          </div>
        </div>
        <div class="card-body">
        {% if userpost.image %}
        <img class = "post py-1" src="{{userpost.image.url}}" alt="{{ userpost.text }}">
        {% endif %}
        <p>{{ userpost.text }}</p>
        </div>
        <div class="card-footer">
          <p><a href="{% url 'pages:comment_detail' %}">Comment ...</a></p>
          {% for comment in userpost.comments.all %}
          <p>
            <span class="font-weight-bold">{{ comment.username }} &middot;</span>
            {{ comment.comment }}
          </p>
        {% endfor %}
      <p><a href="{% url 'pages:post_history' %}">Go back ...</a></p>
    </div>
    {% endblock content %}