{% extends 'base.html' %}
{% block title %}Articles{% endblock title %}
{% block content %}
<input type="hidden" name="latitude" id="id_latitude">
<input type="hidden" name="longitude" id="id_longitude">
  {% for post in post_list %}
  <div  class="col d-flex justify-content-center my-4">
  <div class="card w-70 p-3 ">
    {% if post.image %}
      <img class="card-img-top" src="{{post.image.url}}" alt="Card image cap">
    {% endif %}
    <div class="card-body">
      <div></div>
      <h5 class="card-title"><a href="{% url 'profiles:profile_view' username=post.username %}" style="text-decoration:none;">{{post.username}}</a></h5>
      <p class="card-text">{{post.text}}</p>
      <div class="card-footer">
        <div class="container text-center">
          <div class="row">
            <div class="col">
              <form action="{% url 'pages:like_post' post.pk %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Likes {{post.likes|default:"0"}}</button>
              </form>
            </div>
            <div class="col">
              <button type="submit" class="btn btn-primary">Repost 0</button>
            </div>
            <div class="col">
              <button type="submit" class="btn btn-primary" > <a href="{% url 'pages:post_detail' post.pk %} "style="text-decoration: none; color: inherit;" >Comments 0</a></button>
            </div>
          </div>
        </div>
        

        {% if post.comments.all %}
        {% for comment in comments %}
          <div class="card mb-2">
              <div class="card-body">
                  <h5 class="card-title">{{ comment.author }}</h5>
                  <p class="card-text">{{ comment.comment }}</p>
              </div>
          </div>
        {% endfor %}
        {% else %}
          <p>No comments yet.</p>
        {% endif %}
      
  
      </div>
    </div>
  </div>
  </div>

  {% endfor %}
{% endblock %}

<script>
  function sendLocationOnLoad() {
    console.log("test")
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;
  
        // create a hidden form and submit it with the latitude and longitude
        var form = document.createElement('form');
        form.method = 'POST';
        form.action = '{% url "pages:my_view" %}';
        form.style.display = 'none';
  
        var latInput = document.createElement('input');
        latInput.type = 'hidden';
        latInput.name = 'latitude';
        latInput.value = latitude;
  
        var longInput = document.createElement('input');
        longInput.type = 'hidden';
        longInput.name = 'longitude';
        longInput.value = longitude;
  
        form.appendChild(latInput);
        form.appendChild(longInput);
        document.body.appendChild(form);
        console.log(form)
        console.error(longitude)
        form.submit();
      });
    } else {
      console.log('Geolocation is not supported by this browser.');
    }
  }
</script>

